$theme-text: rgba(255, 255, 255, 0.87);
$theme-bg: #242424;

@media (prefers-color-scheme: light) {
  $theme-text: #213547;
  $theme-bg: #ffffff;
}

:root {
  font-family: Ubuntu, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;

  color-scheme: light dark;
  color: $theme-text;
  background-color: $theme-bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  background-image: url('jason-leem-50bzI1F6urA-unsplash.jpg');
  background-position: center;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Ubuntu.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/FiraCode-Regular.woff2') format('woff2');
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: stretch;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}

a {
  font-weight: 500;
  color: tomato;
  text-decoration: inherit;
}

a:hover {
  color: tomato;
}

body {
  margin: 0;
}

code,
.code-font {
  font-family: 'Fira Code', monospace;
}

.btn-green,
.btn-red,
.btn-blue,
.btn-yellow {
  display: table-cell;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  height: 50px;
  padding: 4px 16px;
  vertical-align: middle;
  box-shadow: 0 4px 8px #0003, 0 6px 20px #00000030;

  &:hover {
    color: black;
  }
}

.btn-green {
  background-color: #209c6f;
}

table.main-table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;

  thead {
    background-color: #33333355;
    position: sticky;
    top: 0;
    z-index: 9999;
    box-shadow: 0 4px 8px #0003, 0 6px 20px #00000030;
  }

  th,
  td {
    padding: 6px 8px 6px 8px;
    text-align: center;
  }

  tr:nth-child(2n) {
    background-color: #2a2a2a55;
  }

  tr:nth-child(2n + 1) {
    background-color: #24242455;
  }

  .invert-rows {
    tr:nth-child(2n) {
      background-color: #24242455;
    }

    tr:nth-child(2n + 1) {
      background-color: #2a2a2a55;
    }
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin: 2em;

  backdrop-filter: blur(16px) saturate(180%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(17, 25, 40, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);

  .scrolling-area {
    overflow: auto;
    height: 100%;
  }
}

.text-padding {
  padding: 4px 16px;
}

.footer {
  height: 50px;
  background-color: #2c2c2c55;
  box-shadow: 0 -4px 8px #0003, 0 -6px 20px #00000030;
  display: flex;
  flex-direction: row;

  .meta-info {
    line-height: 50px;
    padding-inline: 16px;
  }
}
