$theme-text: rgba(255, 255, 255, 0.87);
$theme-bg: #242424;

@media (prefers-color-scheme: light) {
  $theme-text: #213547;
  $theme-bg: #ffffff;
}

:root {
  font-family: Ubuntu, Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: normal;
  font-weight: 400;

  color-scheme: light dark;
  color: $theme-text;
  background-color: $theme-bg;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/fonts/Ubuntu.woff2') format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Fira Code';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/FiraCode-Regular.woff2') format('woff2');
}

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-content: stretch;
}

a {
  font-weight: 500;
  color: tomato;
  text-decoration: inherit;
}

a:hover {
  color: tomato;
}

body {
  margin: 0;
}

code,
.code-font {
  font-family: 'Fira Code', monospace;
}

.btn-green,
.btn-red,
.btn-blue,
.btn-yellow {
  display: table-cell;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  color: black;
  cursor: pointer;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  height: 50px;
  padding: 4px 16px;
  vertical-align: middle;

  &:hover {
    color: black;
  }
}

.btn-green {
  background-color: #04aa6d;
}
